# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Django files
*.pyc

# OSX files
.DS_STORE

# React files
.module-cache

# npm files
node_modules/

build/



