# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Django files
*.pyc

# OSX files
.DS_STORE

# React files
.module-cache

# npm files
node_modules/

# Don't ignore the directory of built code as elastic beanstalk deploys from git commits
# tapalong/tapalong_app/static/
