# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Django files
*.pyc

# OSX files
.DS_STORE

#React files
.module-cache

#npm files
node_modules/

# directory of built code
tapalong/tapalong_app/static/
