option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "tapalong.settings"
    PYTHONPATH: "/opt/python/current/app/tapalong:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "tapalong/tapalong/assets/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "tapalong/tapalong/wsgi.py"