body {
	background-color: #eee;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 100px;
}

input {
	font-family: inherit;
	font-size: inherit;
}

.clear {
	clear: both;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
	background-color: #4b8af0;
	height: 20px;
	padding: 18px;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	width: 100%;
	z-index: 1;
	position: fixed;
}

header h1 {
	font-size: 1.1em;
	text-align: center;
	color: white;
}

header #backButton {
	width: 30px;
	position: absolute;
}

div#headerSpacer {
	height: 56px;
}

div#container {
}

section.card {
	/* This puts the border inside the edge */
	box-sizing: border-box;
	max-width: 600px;
	margin: 0 auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #444;
	line-height: 1.5em;
	background-color: #fafafa;
}

section.card .contentContainer {
	padding: 16px;
}

section.card.attending {
	background-color: #AFA;
}

section.card p {
	margin-bottom: 5px;
}

section.card .optionContainer {
}

section.card .optionContainer .option {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	color: #0AE;
}

section.card .optionContainer .option.disabled {
	color: #CCC;
}

/* Put the padding and margin on the options so the click targets are larger */
section.card .option {
	padding: 15px 20px;
	float: right;
}

section.card .friendIcon {
	border: 1px solid #ccc;
	border-radius: 19px;
	width: 38px;
	height: 38px;
	margin-right: 16px;
	float: left;
}

section.card .cardTitleContainer {
	/* This forces the title to not wrap around the bottom of the icon */
	overflow: hidden;
}

section.card input {
	padding: 10px 10px 10px 2px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0,0,0,0);
	width: 100%;
	display: block;
	margin: 10px 0;
		box-sizing: border-box;
}

section.card input#title {
	font-size: 1.2em;
}

section.card input#date {
	float: left;
	width: auto;
	font-size: 1em;
}

section.card input#time {
	float: right;
	font-size: 1em;
	width: 150px;
}

section.card input:focus {
	outline: none;
	border-bottom: 1px solid #2196f3;
	box-shadow: 0 1px 0 0px #2196f3;
}

b {
	font-weight: 400;
}

div#addbutton {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-image: url('plus.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
	background-color: #F44;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}